/* General formatting */
body {
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",
    roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu,
    "franklin gothic medium", "century gothic", "Liberation Sans", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

/* Your text should be in a nice narrow column */
.content-column {
  max-width: 650px;
  margin: 40px auto;
}

/* But your visualization should be full-width and full-height */
.vis-holder {
  width: 100%;
  height: 100%;
}

/* .delay-chart {
  width: 100px;
  height: 100px;
} */

#map {
  width: 900px;
  height: 500px;
  margin: 40px auto;
}

#scrubbar {
  width: 900px;
  height: 20px;
  margin: 40px auto;
}
.lineConnect {
  fill: none;
  stroke: black;
  opacity: 1;
}

#route1-btn:active {
  background-color: #cc79a1;
  border-color: #8e5470;
}

#route1-btn {
  background-color: #e5bcd0;
  border-color: #8e5470;
}

#route43-btn:active {
  background-color: #d55e00;
  border-color: #a24700;
}

#route43-btn {
  background-color: #eaae7f;
  border-color: #a24700;
}

#routeSL4-btn:active {
  background-color: #0072b2;
  border-color: #00517f;
}

#routeSL4-btn {
  background-color: #99c6e0;
  border-color: #00517f;
}

#routeSL5-btn:active {
  background-color: #009e73;
  border-color: #006b4e;
}

#routeSL5-btn {
  background-color: #b2e1d5;
  border-color: #006b4e;
}

#scrubbar {
  /* width of the contianer*/
  width: 625px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

/* Fork on GitHub ribbon via https://codepo8.github.io/css-fork-on-github-ribbon/# */
#forkongithub a {
  background: #00f;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}
#forkongithub a:hover {
  background: #118;
  color: #fff;
}
#forkongithub a::before,
#forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}
#forkongithub a::after {
  bottom: 1px;
  top: auto;
}
@media screen and (min-width: 800px) {
  #forkongithub {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }
  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}
